@import "tailwindcss";

@theme {
    --color-primary: #005792;
    --color-primary-hover: #004473;
    --color-secondary: #f5f5f5;
    --color-secondary-hover: #e0e0e0;
    --color-bg: #ffffff;
    --color-accent: #ff6f61;
    --color-text: #333333;
    --color-text-alt: #666666;
}