@import "tailwindcss";

@theme {
    --color-primary: #004e89;
    --color-primary-hover: #002962;

    --color-secondary: #002962;
    --color-secondary-hover: #00043a;

    --color-bg: #f6f6f6;
    --color-bg-alt: #ffffff;

    --color-accent: #0062ff;

    --color-text: #000000;
    --color-text-alt: #666666;

    --font-display: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
}