@import "tailwindcss";

@theme {
    --color-primary: #1E56A0;
    --color-primary-hover: #163172;

    --color-secondary: #163172;
    --color-secondary-hover: #13334C;

    --color-bg: #f6f6f6;
    --color-bg-alt: #ffffff;

    --color-accent: #0062ff;

    --color-text: #000000;
    --color-text-alt: #666666;
}